body{
    font-family: 'Copse', serif;
    color: #44586e;


    .perso_shadow{
        box-shadow: 0px 2px 15px black;
    }
    .perso_logoSize{
        width: 100px;
    }
    .perso_colorRoseMenu{
        color: #FF00FF !important;
    }
    .perso_colorOrangeMenu {
        color: rgb(247, 179, 91) !important;
    }
    .perso_colorVertMenu {
        color: #34C924 !important;
    }
    .perso_colorRougeMenu {
        color: rgb(230, 78, 78) !important;
    }
    .perso_colorBleurCielMenu {
        color: #40E0D0 !important;
    }
    .perso_policeTitre{
        font-family: 'Fredoka One',
        cursive;
    }
    .perso_size20{
        font-size: 20px;
    }
}